{% extends 'shop_app/base.html' %}
{% block content %}

<div class="container-fluid" style="margin-top: 100px;">
	<div class="row">
		<div class="col-md-4">
		</div>
		<div class="col-md-4">
			<form role="form" method="post">{% csrf_token %}
				<div class="form-group">
					<label for="InputEmail">
						Email address
					</label>
					<input type="email" class="form-control" id="InputEmail" name="email" required autofocus />
				</div>
				<div class="form-group">
					<label for="InputName">
						Name
					</label>
					<input type="text" class="form-control" id="InputName" name="name" required />
				</div>
				<div class="form-group">
					<label for="InputSurname">
						Surname
					</label>
					<input type="text" class="form-control" id="InputSurname" name="surname" required />
				</div>
				<div class="form-group">
					<label for="InputSurname">
						Gender
					</label>
					<select name="gender" class="form-control" id="InputGender" required>
						<option selected hidden value=""></option>
						<option value="Man">Man</option>
						<option value="Woman">Woman</option>
					</select>
				</div>
				<div class="form-group">
					<label for="InputSurname">
						Phone number
					</label>
					<input type="text" class="form-control" id="InputPhone" name="phone_number"
						placeholder="12 123-123-123" required />
				</div>
				<div class="form-group">
					<label for="InputPassword1">
						Password
					</label>
					<input type="password" class="form-control" id="InputPassword1" name="password1" required />
				</div>
				<div class="form-group">
					<label for="InputPassword2">
						Repeat password
					</label>
					<input type="password" class="form-control" id="InputPassword2" name="password2" required />
				</div>
				{% for field in registration_form %}
				<p>
					{% for error in field.errors %}
					<p style="color: red">{{ error }}</p>
					{% endfor %}
				</p>
				{% endfor %}
				{% if registration_form.non_field_errors %}
				<div style="color: red">
					<p>{{registration_form.non_field_errors}}</p>
				</div>

				{% endif %}


				<button type="submit" class="btn btn-primary">
					Register
				</button>
			</form>
		</div>
		<div class="col-md-4">
		</div>
	</div>
</div>

<script>
	// A function to format text to look like a phone number
	function phoneFormat(input) {
		// Strip all characters from the input except digits
		input = input.replace(/\D/g, '');

		// Trim the remaining input to ten characters, to preserve phone number format
		input = input.substring(0, 11);

		// Based upon the length of the string, we add formatting as necessary
		var size = input.length;
		if (size == 0) {
			input = input;
		} else if (size < 2) {
			input = '(' + input;
		} else if (size < 7) {
			input = '(' + input.substring(0, 2) + ') ' + input.substring(2, 6);
		} else {
			input = '(' + input.substring(0, 2) + ') ' + input.substring(2, 5) + '-' + input.substring(5, 8) + '-' + input
				.substring(8, 11);
		}
		return input;
	}
	document.getElementById('InputPhone').addEventListener('keyup', function (evt) {
		var phoneNumber = document.getElementById('InputPhone');
		var charCode = (evt.which) ? evt.which : evt.keyCode;
		phoneNumber.value = phoneFormat(phoneNumber.value);
	});
</script>

{% endblock %}