{% extends 'shop_app/base.html' %}

{% block content %}
<div class="container-fluid" style="padding-top: 100px;">
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6" style="background-color: white;">
            <h1 style="text-align: center;">Orders ready for shipment</h1>
            <table class="table table-bordered" style="margin-top: 20px;">
                {% if paginated_ready %}
                <thead>
                    <tr>
                        <th>
                            Order ID
                        </th>
                        <th>
                            Date of placing the order
                        </th>
                        <th>
                            Details
                        </th>
                        <th>
                            Options
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in paginated_ready %}
                    <tr>
                        <td>
                            {{order.order.id}}
                        </td>
                        <td>
                            {{order.order.timestamp}}
                        </td>
                        <td>
                            <a href="{% url 'management:details' order_id=order.order.id status=2 %}"><button
                                    type="button" class="btn btn-outline-primary btn-sm">
                                    See details
                                </button></a>
                        </td>
                        <td>
                            <button type="button" class="btn btn-outline-primary btn-sm"
                                onclick="setNewStatus('{{order.order.id}}', 'Shipped', uiUpdateFunction)">
                                Mark as shipped
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <p>No orders</p>
                    {% endif %}
                </tbody>
            </table>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 d-flex justify-content-center" style="padding-top: 15px;">
                        <nav>
                            <ul class="pagination">
                                {% if paginated_ready.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page=1">&laquo First</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link"
                                        href="?page={{paginated_ready.previous_page_number}}">Previous</a>
                                </li>
                                {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="#">&laquo First</a>
                                </li>
                                <li class="page-item disabled">
                                    <a class="page-link" href="#">Previous</a>
                                </li>
                                {% endif %}
                                {% if paginated_ready.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{paginated_ready.next_page_number}}">Next</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="?page={{paginated_ready.paginator.num_pages}}">Last
                                        &raquo</a>
                                </li>
                                {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="#">Next</a>
                                </li>
                                <li class="page-item disabled">
                                    <a class="page-link" href="#">Last &raquo</a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
        </div>
    </div>
</div>

<script>
    function uiUpdateFunction() {
        location.reload()
    }
</script>

{% include 'management/snippets/set_new_status.html'%}
{% endblock %}