<style type="text/css">
	.text {
		color: black;
		font-weight: 400;
	}
</style>

<nav class="navbar navbar-expand-lg " style="background-color: orangered;">
	<a class="navbar-brand text" href="{% url 'shop:home' %}"><i class="material-icons">card_giftcard</i>
		ShoppingCenter</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span><i class="material-icons">reorder</i></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		{% if request.user.is_authenticated %}
		<ul class="navbar-nav ml-md-auto">
			{% if request.user.is_staff %}
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle text" href="#" id="navbarDropdownMenuLink"
					data-toggle="dropdown">Management</a>
				<div class="dropdown-menu dropdown-menu-right text" aria-labelledby="navbarDropdownMenuLink">
					<a class="dropdown-item" href="{% url 'management:product_add' %}">+ Add product</a>
					<a class="dropdown-item" href="{% url 'management:collecting' %}">Orders</a>
					<a class="dropdown-item" href="{% url 'management:ready' %}">Orders ready for shipment</a>
					<a class="dropdown-item" href="{% url 'management:shipped' %}">Orders shipped</a>
					<a class="dropdown-item" href="{% url 'management:delivered' %}">Orders delivered</a>
					<a class="dropdown-item" href="{% url 'management:add_coupon' %}">+ Add coupon</a>
					<a class="dropdown-item" href="{% url 'management:coupons_management' %}">Coupons management</a>
					<a class="dropdown-item" href="{% url 'management:feedback' %}">Clients feedback</a>
					<a class="dropdown-item" href="{% url 'management:questions' %}">Clients questions</a>
					<a class="dropdown-item" href="{% url 'management:issues' %}">Clients issues</a>
				</div>
			</li>
			{% endif %}
			<li class="nav-item">
				<a class="nav-link text" href="{% url 'feedback:send' %}">Contact us <i class="material-icons"
						style="font-size: 15px;">question_answer</i></a>
			</li>
			<li class="nav-item active">
				<a class="nav-link text" href="{% url 'account:cart' user_id=request.user.id%}">Cart<i
						class="material-icons" style="font-size:15px">shopping_cart</i><span id="counter"></span></a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle text" href="#" id="navbarDropdownMenuLink"
					data-toggle="dropdown">Account</a>
				<div class="dropdown-menu dropdown-menu-right text" aria-labelledby="navbarDropdownMenuLink">
					<a class="dropdown-item" href="{% url 'account:view' user_id=request.user.id %}">My profile <i
							class="material-icons" style="font-size:15px">account_circle</i></a>
					<a class="dropdown-item" href="{% url 'account:address' user_id=request.user.id %}">My adresses <i
							class="material-icons" style="font-size:15px">home</i></a>
					<a class="dropdown-item" href="{% url 'account:my_orders' %}">My orders <i class="material-icons"
							style="font-size:15px">credit_card</i></a>
					<div class="dropdown-divider">
					</div>
					<a class="dropdown-item" href="{% url 'logout' %}">Logout <i class="material-icons"
							style="font-size:15px">exit_to_app</i></a>
				</div>
			</li>
		</ul>
		{% else %}
		<ul class="navbar-nav ml-md-auto">
			<li class="nav-item active">
				<a class="nav-link text" href="{% url 'register' %}">Register</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link text" href="{% url 'login'%}">Login</a>
			</li>
		</ul>
		{% endif %}

	</div>
</nav>
